@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.homepage {
  font-family: "Inter", sans-serif;
}
.homepage header {
  position: relative;
  background: #03508B;
  padding: 45px 0;
}
.homepage header .logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 225px;
  height: 125px;
  border-radius: 0 0px 15px 0;
  -webkit-border-radius: 0 0px 15px 0;
  -moz-border-radius: 0 0px 15px 0;
  -ms-border-radius: 0 0px 15px 0;
  -o-border-radius: 0 0px 15px 0;
  position: absolute;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage header .logo img {
  width: 145px;
}
.homepage header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.homepage header .nav li {
  margin-right: 48px;
}
.homepage header .nav li:last-child {
  margin-right: 0;
}
.homepage header .nav li a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.homepage header .nav li a.ordr-btn {
  font-size: 26px;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 210px;
  padding: 10px 10px;
  text-align: center;
  background: #5F9D17;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.homepage .herobanner {
  background: #03508B;
}
.homepage .herobanner .banner-wrpr {
  position: relative;
}
.homepage .herobanner .banner-wrpr:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background: url(../images/banner-bg-gredient.png) no-repeat;
  background-size: 100%;
}
.homepage .herobanner .banner-wrpr .bnr-img-wrp {
  position: relative;
  z-index: 1;
}

.upsellpage .container {
  max-width: 1076px;
}

.upsellhdr {
  padding: 96px 15px;
  background: #F2F9FF;
  text-align: center;
}
.upsellhdr h1, .upsellhdr h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #212529;
}
.upsellhdr h1 {
  font-size: 56px;
}
.upsellhdr h2 {
  font-size: 40px;
}

.hdr-strip {
  padding: 18px 0;
  background: #03508B;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.upgrd-sec {
  padding: 96px 0;
}
.upgrd-sec .upgrd-slp-card {
  padding: 48px;
  background: #A5D3EE;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  margin: 0 auto;
}
.upgrd-sec .upgrd-slp-card p {
  font-size: 32px;
  line-height: 38px;
  color: #212529;
  text-align: center;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.upgrd-sec .upgrd-slp-card.light {
  background: #EEF9F6;
  position: relative;
}
.upgrd-sec .upgrd-slp-card.light:after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  width: 30px;
  height: 30px;
  background: #EEF9F6;
}
.upgrd-sec figure {
  text-align: center;
  margin: 30px 0 77px 0;
}
.upgrd-sec figure img {
  width: 572px;
}
.upgrd-sec .what-neoro {
  margin: 0 auto;
}
.upgrd-sec .what-neoro h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}
.upgrd-sec .what-neoro p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
.upgrd-sec .what-neoro p:last-child {
  margin-bottom: 0;
}
.upgrd-sec .what-neoro p b {
  font-weight: 600;
}
.upgrd-sec .one-time-ofr-wrpr {
  padding: 54px 42px;
  border: 6px solid #03508B;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  background: #F2F9FF;
  margin: 96px 0;
}
.upgrd-sec .one-time-ofr-wrpr h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #212529;
  margin-bottom: 40px;
}
.upgrd-sec .one-time-ofr-wrpr .content-area {
  font-family: "Lato", sans-serif;
}
.upgrd-sec .one-time-ofr-wrpr .content-area h5 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 24px;
}
.upgrd-sec .one-time-ofr-wrpr .content-area h5 span {
  color: #A30015;
}
.upgrd-sec .one-time-ofr-wrpr .content-area p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 450;
  display: block;
  margin-bottom: 24px;
}
.upgrd-sec .one-time-ofr-wrpr .content-area p:last-child {
  margin-bottom: 0;
}
.upgrd-sec .one-time-ofr-wrpr .onetime-ftr-wrpr {
  max-width: 67%;
  margin: 25px auto 0;
  text-align: center;
}
.upgrd-sec .one-time-ofr-wrpr .onetime-ftr-wrpr a {
  color: #212529;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.upgrd-sec .one-time-ofr-wrpr .onetime-ftr-wrpr .cards-wrpr {
  margin: 20px auto;
}
.upgrd-sec .one-time-ofr-wrpr .onetime-ftr-wrpr .cards-wrpr img {
  width: 306px;
}
.upgrd-sec .one-time-ofr-wrpr .onetime-ftr-wrpr .yelw-btn {
  display: table;
  margin: 0 auto 20px;
  text-decoration: none;
  width: 400px;
  background: #FFD814;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 21px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  color: #000;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.upgrd-sec .one-time-ofr-wrpr .onetime-ftr-wrpr .yelw-btn:hover {
  background: #ffae00;
}

.each-capsul-sec {
  padding: 96px 0;
  background: #F2F9FF;
  width: 98%;
  margin: 0 auto;
  display: table;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.each-capsul-sec h2.titl {
  font-size: 40px;
  line-height: 48px;
  color: #212529;
  font-weight: 600;
  text-align: center;
}
.each-capsul-sec h2.titl span {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-top: 50px;
}
.each-capsul-sec .capsul-row {
  margin-top: 85px;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr {
  display: grid;
  grid-template-columns: 50% 50%;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card {
  padding: 20px 15px;
  border: 1px solid #DEE2E6;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  display: flex;
  align-items: center;
  margin: 0 22px 22px 0;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card:nth-child(2n) {
  margin-right: 0;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card:nth-child(3), .each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card:nth-child(4) {
  margin-bottom: 0;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card .ingrdnt-img {
  width: 65px;
  height: 65px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  margin-right: 24px;
  overflow: hidden;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card .ingrdnt-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card .ingrdnt-cntnt {
  width: calc(100% - 89px);
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card .ingrdnt-cntnt h6 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.each-capsul-sec .capsul-row .ingrdnt-wrpr .ingrdnt-card .ingrdnt-cntnt p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}
.each-capsul-sec .prra-wrp {
  padding-top: 85px;
}
.each-capsul-sec .prra-wrp p {
  font-size: 20px;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */