@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

/* ====Hero Section==== */
.hero-section {
  position: relative;
  padding: 5rem 10rem 0 10rem;
}
.hero-section .capsule {
  background-color: #FAF9F8;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #3C3C3B;
  position: relative;
  z-index: 1;
}
.hero-section .capsule .green-capsule {
  background-color: #5F9D17;
  height: 100px;
  border-radius: 50px;
  display: grid;
  place-content: center;
  color: #fff;
}
.hero-section .content {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: #003F6C;
  color: #fff;
  border: 5px solid #fff;
  padding: 5rem 1rem 1rem 1rem;
  position: relative;
  margin-top: -3rem;
  width: 99%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.hero-section .content h3 {
  font-size: 54px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
.hero-section .content p {
  font-size: 39px;
  font-family: "Open Sans", sans-serif;
  padding: 0rem 10rem 5rem 10rem;
  margin-bottom: 0;
  font-weight: 400;
}
.hero-section .bg-leaf {
  width: 30%;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: -5rem;
  z-index: -1;
}

/* =====prepare-your-order===== */
.prepare-your-order {
  padding-top: 10%;
  background-color: #FAF9F8;
  margin-top: 5rem;
  position: relative;
}
.prepare-your-order .left-img {
  text-align: center;
}
.prepare-your-order .left-img .background-text {
  position: relative;
  color: #dddcda;
  font-family: "Inter", sans-serif;
  font-size: 166px;
  text-align: center;
  letter-spacing: 39px;
}
.prepare-your-order .left-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 160px;
  transform: translate(-66%, -50%);
}
.prepare-your-order .content-area p {
  font-weight: bold;
  font-size: 43px;
  font-family: "Open Sans", sans-serif;
  color: #3C3C3B;
}
.prepare-your-order .content-area p span {
  color: #003F6C;
}
.prepare-your-order .content-area .small-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding-top: 10%;
  padding-left: 20%;
}
.prepare-your-order .bg-leaf {
  width: 24%;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0rem;
  z-index: 1;
}

/* ======take-advantage====== */
.take-advantage {
  background-color: #00518C;
  padding-top: 3em;
  min-height: 767px;
  overflow: hidden;
  position: relative;
}
.take-advantage h3 {
  background-color: #F40C1E;
  color: #fff;
  font-size: 39px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 9px;
  padding: 1rem 2rem;
}
.take-advantage .leftarea {
  max-width: 490px;
}
.take-advantage .leftarea h4 {
  color: #fff;
  font-size: 44px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 3rem;
  line-height: 65px;
}
.take-advantage .leftarea h4 span {
  display: block;
  font-weight: 650;
}
.take-advantage .leftarea h4 span b {
  font-size: 100px;
  font-weight: 650;
  padding-right: 1rem;
  line-height: 7rem;
}
.take-advantage .leftarea h4 s {
  text-decoration-color: red;
}
.take-advantage button {
  background: #5F9D17;
  color: #fff;
  border-radius: 35px;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 21px;
  width: 500px;
  margin-top: 4rem;
  cursor: pointer;
}
.take-advantage .right-design {
  position: relative;
  display: grid;
  place-items: center;
  padding-top: 10%;
}
.take-advantage .right-design * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.take-advantage .right-design .bg-vector {
  width: 90%;
  padding-right: -10px;
  margin-right: 41px;
  margin-top: 40px;
}
.take-advantage .right-design .main-img {
  width: 80%;
}
.take-advantage .right-design .free_batch {
  width: 25%;
  position: absolute;
  left: -17px;
  top: 0;
}
.take-advantage .right-design .small-circle {
  content: "";
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  background: #5F9D17;
  border-radius: 50%;
  left: -19px;
  top: 170px;
}
.take-advantage .saving-img {
  position: absolute;
  bottom: -79px;
  width: 45%;
  right: 0;
  display: grid;
  place-items: center;
  color: #fff;
  font-weight: 600;
}
.take-advantage .saving-img p {
  font-size: 32px;
  line-height: 39px;
  margin-top: -28px;
  text-align: center;
}
.take-advantage .bubbleimg .bubbleimg1 {
  position: absolute;
  bottom: -17rem;
  left: 17%;
}
.take-advantage .bubbleimg .bubbleimg2 {
  position: absolute;
  left: 8rem;
  bottom: 4rem;
}

/* ======leave-this-page====== */
.leave-this-page {
  background: #FAF9F8;
  padding-top: 5rem;
  position: relative;
  overflow: hidden;
}
.leave-this-page h3 {
  font-size: 45px;
  color: #3C3C3B;
  font-weight: 650;
}
.leave-this-page p {
  padding-top: 2.5rem;
  font-size: 21px;
  color: #3C3C3B;
}
.leave-this-page .bottles {
  padding-top: 3rem;
}
.leave-this-page .divider {
  background-color: #003F6C;
  text-align: center;
  color: #fff;
  font-size: 35px;
  padding: 1rem;
  font-weight: 700;
  margin-top: -2rem;
  letter-spacing: 2px;
  word-spacing: 6px;
}
.leave-this-page .content-text {
  padding-top: 4rem;
  max-width: 800px;
  font-size: 21px;
  margin: 0 auto;
}
.leave-this-page .content-text button {
  background: #5F9D17;
  border: none;
  outline: none;
  width: 200px;
  margin-top: 3rem;
  color: #fff;
  border-radius: 35px;
  height: 50px;
  margin-bottom: 3rem;
  font-weight: 600;
}
.leave-this-page .bg-leaf {
  width: 29%;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: -3rem;
  z-index: 1;
}

/* ======risk-free====== */
.risk-free {
  padding-top: 5rem;
}
.risk-free .heading {
  margin: 0 auto;
  text-align: center;
}
.risk-free .heading h3 {
  font-size: 40px;
  color: #3C3C3B;
  font-weight: 650;
  font-family: "Open Sans", sans-serif;
}
.risk-free .heading p {
  font-size: 18px;
  color: #3C3C3B;
  padding: 2rem 14rem;
}

@media (max-width: 1180px) {
  .hero-section {
    padding: 5rem 5rem 0 5rem;
  }
  .prepare-your-order .content-area p {
    font-size: 41px;
  }
  .take-advantage {
    min-height: 700px;
  }
  .take-advantage h3 {
    font-size: 32px;
  }
  .take-advantage .leftarea h4 {
    font-size: 37px;
  }
  .take-advantage .right-design .free_batch {
    width: 25%;
    position: absolute;
    left: -25px;
    top: 10px;
  }
  .take-advantage .saving-img p {
    font-size: 26px;
    line-height: 39px;
    margin-top: -9px;
    text-align: center;
  }
  .take-advantage button {
    width: 450px;
    font-size: 19px;
  }
}
@media (max-width: 991.5px) {
  .hero-section {
    padding: 5rem 3rem 0 3rem;
  }
  .hero-section .capsule {
    font-size: 20px;
  }
  .hero-section .content h3 {
    font-size: 38px;
  }
  .hero-section .content p {
    padding: 0rem 4rem 3rem 4rem;
  }
  .prepare-your-order .content-area {
    padding-bottom: 4rem;
  }
  .prepare-your-order .content-area p {
    font-size: 34px;
  }
  .prepare-your-order .content-area .small-text {
    padding-left: 0;
  }
  .take-advantage h3 {
    font-size: 23px;
  }
  .take-advantage .leftarea h4 {
    font-size: 27px;
    line-height: 34px;
  }
  .take-advantage .leftarea h4 span b {
    font-size: 81px;
    line-height: 6rem;
    padding-right: 0;
  }
}
@media (max-width: 767.5px) {
  .hero-section .capsule {
    font-size: 16px;
    height: 75px;
  }
  .hero-section .capsule .green-capsule {
    height: 75px;
  }
  .hero-section .content h3 {
    font-size: 30px;
  }
  .hero-section .content p {
    font-size: 25px;
  }
  .hero-section .bg-leaf {
    width: 50%;
  }
  /*======== CheckOut Page ======*/
  .checkout-container .order-details .shipping-insurance {
    text-align: center;
  }
  .checkout-footer .checkout-container .row {
    text-align: center;
  }
  .checkout-footer .checkout-container .row .getintouch {
    padding-top: 3rem !important;
  }
}
@media (max-width: 500px) {
  .hero-section .capsule {
    font-size: 13px;
    height: 75px;
  }
  .hero-section .content h3 {
    font-size: 24px;
    padding-bottom: 2rem;
  }
  .hero-section .content p {
    font-size: 21px;
    padding: 0rem 2rem 3rem 2rem;
  }
  .prepare-your-order .content-area p {
    font-size: 30px;
  }
  .prepare-your-order .left-img .background-text {
    position: relative;
    color: #dddcda;
    font-family: "Inter", sans-serif;
    font-size: 140px;
    text-align: center;
    letter-spacing: 39px;
  }
  /*======== CheckOut Page ======*/
  .logoResponsive {
    width: 100%;
    object-fit: none;
    padding-top: 0px;
    height: 80px;
  }
}
@media (max-width: 390px) {
  .hero-section .content {
    padding: 5rem 0rem 1rem 0rem;
  }
  .hero-section .content h3 {
    font-size: 20px;
    padding-bottom: 2rem;
  }
  .hero-section .content p {
    font-size: 20px;
    padding: 0rem 1rem 3rem 1rem;
  }
  .prepare-your-order .left-img .background-text {
    font-size: 135px;
    letter-spacing: 12px;
  }
  .prepare-your-order .content-area p {
    font-size: 20px;
  }
}/*# sourceMappingURL=upsell1.css.map */