$offblue:#F2F9FF;
$bluecolor:#03508B;
$offblack:#212529;
$offdarkblue:#A5D3EE;
$offgreen:#EEF9F6;
$white:#fff;
$redcolor: #A30015;
$yellowcolor:#FFD814;
$blackcolor:#000;
$fadeblue:#DEE2E6;
$greencolor:#5F9D17;

$capsuleWhite: #FAF9F8;
$contentBlue: #003F6C;
$textDark:#3C3C3B;
$backText:#dddcda;
$redBg:#F40C1E;
$bgBlue:#00518C;
$brownWhite: #FAF9F8;