@import "./color.scss";
@import "./font.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

/* ====Hero Section==== */
.hero-section {
    // padding-top: 5rem;
    position: relative;
    padding: 5rem 10rem 0 10rem;

    .capsule {
        background-color: $capsuleWhite;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        font-family: $openSans;
        font-size: 25px;
        font-weight: bold;
        color: $textDark;
        position: relative;
        z-index: 1;

        & .green-capsule {
            background-color: $greencolor;
            height: 100px;
            border-radius: 50px;
            display: grid;
            place-content: center;
            color: $white;
        }
    }

    .content {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        background-color: $contentBlue;
        color: $white;
        border: 5px solid $white;
        padding: 5rem 1rem 1rem 1rem;
        position: relative;
        margin-top: -3rem;
        width: 99%;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;

        h3 {
            font-size: 54px;
            font-weight: bold;
            font-family: $openSans;
            padding-bottom: 3rem;
            margin-bottom: 0;
        }

        p {
            font-size: 39px;
            font-family: $openSans;
            padding: 0rem 10rem 5rem 10rem;
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    .bg-leaf {
        width: 30%;
        position: absolute;
        overflow: hidden;
        right: 0;
        bottom: -5rem;
        z-index: -1;
    }
}

/* =====prepare-your-order===== */

.prepare-your-order {
    padding-top: 10%;
    background-color: $brownWhite;
    margin-top: 5rem;
    position: relative;

    .left-img {

        text-align: center;

        .background-text {
            position: relative;
            color: $backText;
            font-family: $interfont;
            font-size: 166px;
            text-align: center;
            // padding-left: 92px;
            // z-index: -1;
            letter-spacing: 39px;
        }

        img {

            position: absolute;
            left: 50%;
            top: 50%;
            width: 160px;
            transform: translate(-66%, -50%);

        }
    }

    .content-area {
        & p {
            font-weight: bold;
            font-size: 43px;
            font-family: $openSans;
            color: $textDark;

            span {
                color: $contentBlue;
            }
        }

        & .small-text {
            font-size: 14px;
            font-weight: 400;
            font-family: $openSans;

            padding-top: 10%;
            padding-left: 20%;

        }
    }

    .bg-leaf {
        width: 24%;
        position: absolute;
        overflow: hidden;
        right: 0;
        bottom: 0rem;
        z-index: 1;
    }
}


/* ======take-advantage====== */
.take-advantage {
    background-color: $bgBlue;
    padding-top: 3em;
    min-height: 767px;
    overflow: hidden;
    position: relative;

    h3 {
        background-color: $redBg;
        color: $white;
        font-size: 39px;
        font-family: $openSans;
        font-weight: 600;
        text-align: center;
        border-radius: 9px;
        padding: 1rem 2rem;
    }

    .leftarea {
        max-width: 490px;

        h4 {
            color: $white;
            font-size: 44px;
            font-family: $openSans;
            text-transform: uppercase;
            font-weight: 400;
            padding-top: 3rem;
            line-height: 65px;

            span {
                display: block;
                font-weight: 650;

                b {
                    font-size: 100px;
                    font-weight: 650;
                    padding-right: 1rem;
                    line-height: 7rem;
                }
            }

            s {
                text-decoration-color: red;
            }
        }
    }

    button {
        background: $greencolor;
        color: $white;
        border-radius: 35px;
        padding: 1rem 3rem;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 21px;
        width: 500px;
        margin-top: 4rem;
        cursor: pointer;
    }

    .right-design {
        position: relative;
        display: grid;
        place-items: center;
        padding-top: 10%;

        & * {
            grid-column: 1/-1;
            grid-row: 1/-1;
        }

        & .bg-vector {
            width: 90%;
            padding-right: -10px;
            margin-right: 41px;
            margin-top: 40px;
        }

        & .main-img {
            width: 80%;
        }

        .free_batch {
            width: 25%;
            position: absolute;
            left: -17px;
            top: 0;
        }

        .small-circle {
            content: "";
            position: absolute;
            width: 50px;
            aspect-ratio: 1;
            background: $greencolor;
            border-radius: 50%;
            left: -19px;
            top: 170px;
        }

    }

    .saving-img {
        position: absolute;
        bottom: -79px;
        width: 45%;
        right: 0;

        display: grid;
        place-items: center;
        color: $white;
        font-weight: 600;

        p {
            font-size: 32px;
            line-height: 39px;
            margin-top: -28px;
            text-align: center;
        }
    }

    .bubbleimg {
        & .bubbleimg1 {
            position: absolute;
            bottom: -17rem;
            left: 17%;
        }

        & .bubbleimg2 {
            position: absolute;
            left: 8rem;
            bottom: 4rem;
        }
    }
}

/* ======leave-this-page====== */
.leave-this-page {
    background: $brownWhite;
    padding-top: 5rem;
    position: relative;
    overflow: hidden;

    h3 {
        font-size: 45px;
        color: $textDark;
        font-weight: 650;
    }

    p {
        padding-top: 2.5rem;
        font-size: 21px;
        color: $textDark
    }

    .bottles {
        padding-top: 3rem;
    }

    .divider {
        background-color: $contentBlue;
        text-align: center;
        color: #fff;
        font-size: 35px;
        padding: 1rem;
        font-weight: 700;
        margin-top: -2rem;
        letter-spacing: 2px;
        word-spacing: 6px;
    }

    .content-text {
        padding-top: 4rem;
        max-width: 800px;
        font-size: 21px;
        margin: 0 auto;

        button {
            background: $greencolor;
            border: none;
            outline: none;
            width: 200px;
            margin-top: 3rem;
            color: $white;
            border-radius: 35px;
            height: 50px;
            margin-bottom: 3rem;
            font-weight: 600;

        }
    }

    .bg-leaf {
        width: 29%;
        position: absolute;
        overflow: hidden;
        right: 0;
        bottom: -3rem;
        z-index: 1;
    }
}



/* ======risk-free====== */
.risk-free {
    padding-top: 5rem;

    .heading {

        margin: 0 auto;
        text-align: center;

        h3 {
            font-size: 40px;
            color: $textDark;
            font-weight: 650;
            font-family: $openSans;
        }

        p {
            font-size: 18px;
            color: $textDark;
            padding: 2rem 14rem;
        }
    }
}





@import './_responsive.scss';